.ranking-page {
  width: 92%;
  max-width: 1200px;
  margin: 80px auto;
}
 
.ranking-tabs {
  display: flex;
  gap: 12px;
  margin-top: 32px;
}

.ranking-tabs button {
  padding: 12px 18px;
  border: 0px;
  border-radius: 999px;
  background: #111;
  color: #999;
  cursor: pointer; 
}

.ranking-tabs button.active {
  background: #d9aa43;
  color: #040404;
  font-weight: 700;
}