<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>主視覺 | UCMARKET</title>

    <link rel="stylesheet" href="../css/hero.css">
    <link rel="stylesheet" href="../css/style.css">

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>

<body>

<header class="navbar">

    <div class="logo">
        <div class="logo-icon">
            <i class="fa-solid fa-chart-simple"></i>
        </div>
        <span>UCMARKET</span>
    </div>

 
    </nav>

    <div class="nav-right">
        <a href="#">繁體</a>
        <a href="#">遊戲玩法</a>
        <a href="#">登入</a>

        <button class="register-btn">
            註冊
        </button>

        <button class="menu-btn">
            <i class="fa-solid fa-bars"></i>
        </button>
    </div>

</header>

<section class="hero">

    <div class="ticker-layer">

        <div class="ticker-row row-1">
            <span>UCMARKET</span>
            <span>UCMARKET</span>
            <span>UCMARKET</span>
            <span>UCMARKET</span>
        </div>

        <div class="ticker-row row-2">
            <span>UCMARKET</span>
            <span>UCMARKET</span>
            <span>UCMARKET</span>
            <span>UCMARKET</span>
        </div>

        <div class="ticker-row row-3">
            <span>UCMARKET</span>
            <span>UCMARKET</span>
            <span>UCMARKET</span>
            <span>UCMARKET</span>
        </div>

    </div>

    <div class="hero-slider">

        <div class="slide active">

            <span class="badge">
                熱門市場
            </span>

            <h1>
                預測未來
            </h1>

            <p>
                透過市場價格反映真實世界機率
            </p>

            <div class="hero-buttons">

              <a href=".    " class="primary-btn">開始交易</a>

                <button class="secondary-btn">
                    查看市場
                </button>

            </div>

        </div>

    </div>

</section>

<script src="../js/main.js"></script>

</body>

</html>