CLOUD_SQL_CONNECTION_NAME=project-id:region:instance
BACKEND_IMAGE=region-docker.pkg.dev/project-id/repository/backend:git-sha
WEB_IMAGE=region-docker.pkg.dev/project-id/repository/web:git-sha
RUNTIME_DIR=/run/ucmarket
CADDYFILE_PATH=./Caddyfile.staging
WEB_BIND_ADDRESS=127.0.0.1:8080
WEB_TLS_BIND_ADDRESS=127.0.0.1:8443
